<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesion</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input labelPlacement="floating" placeholder="Escribe tu nombre de usuario">
            <div slot="label">Nombre de usuario <ion-text color="danger">(Required)</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type= "password" labelPlacement="floating" placeholder="Escriba su contraseña">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            <div slot="label">Contraseña <ion-text color="danger" class="ion-text-center">(Required)</ion-text></div>
          </ion-input>
        </ion-item>
        
      </ion-card-content>
      <ion-button fill="clear">Aceptar</ion-button>
  <ion-button fill="clear">Cancelar</ion-button>
    </ion-card>
    

</ion-content>
