ion-header {
    ion-toolbar {
        ion-title {
            color: #FFFFFF;
        }
    }
}


ion-card {
    ion-card-header {
        ion-card-title {
            color: cadetblue
        }
    }
}

ion-button {
    color: cadetblue;
}